* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding-top: 30px;
 
}

html {
    scroll-behavior: smooth;
}

#header .container {
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 20px;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: #0f1925;
    position: fixed;
    gap: 70px;
    border-bottom: 3px solid #1E40AF;
    z-index: 1000;
    
}


.logo {
    color: transparent;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 26px;
    background: linear-gradient(to right, #F3F4F6, #3B82F6);
    background-clip: text;
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: #F3F4F6;
    text-decoration: none;
    font-size: 20px ;
}

.profile a{
    color: #F3F4F6;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}



/* BANNER */ 

.banner-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}   

.carrossel-fita {
   display: flex;
   width: 400%;
   height: 100%;
   transition: transform 1.2s ease-in-out; /*Responsavel por fazer o movimento do carrossel em 1.2 segundos */
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.banner-container button{
    background-color: #1E40AF;
    color: black;
}

.img1 { background-image: linear-gradient(rgba(0,0,0,0.7)), url('../assets/img1.jpg');}
.img2 { background-image: linear-gradient(rgba(0,0,0,0.7)), url('../assets/img2.jpg');}
.img3 { background-image: linear-gradient(rgba(0,0,0,0.7)), url('../assets/img3.jpg');}
.img4 { background-image: linear-gradient(rgba(0,0,0,0.7)), url('../assets/img4.jpg');}



.texto-banner {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    width: 80%;
}

.texto-banner h1 {
    font-family: monospace;
    color: #F3F4F6;
    font-size: 4rem;
    font-weight: 900;

}

.texto-banner p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #60A5FA;
    font-size: 2rem;
    font-weight: 500;
}

.banner-button {
    margin-top: 100px;
    z-index: 20;
}

/* Sobre nos */

#sobre{
    width: 100%;
    min-height: 100vh;
}

.sobre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 60px;
    min-height: 100vh;
    background-color: #0f1925;

}

.texto-sobre {
    text-align: left;
    max-width: 750px;
    color: white;
    margin-right: auto;
}

.texto-sobre h1{
    font-size: 4.5rem;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 30px;
}

.texto-sobre p{
    font-size: 30px;
    line-height: 1.4;
    color: #F3F4F6;
    margin-bottom: 34px;
}

.texto-sobre span{
   color: transparent;
    font-family: sans-serif;
    font-weight: bold;
    background: linear-gradient(to right, #F3F4F6, #3B82F6);
    background-clip: text;
    text-decoration: none;
}

.texto-sobre .button{
    padding: 18px 50px;
    font-size: 700;
}


/* Beneficios */

.beneficios-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F3F4F6;
    width: 100%;
    min-height: 100vh;
    padding: 80px 20px;

}

.texto-beneficios {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.texto-beneficios h1 {
    font-family: clamp(32px, 5vw, 54px);
    font-size: 3rem;
    color:#0f1925;
    margin-bottom: 15px;
    font-weight: 800;
}

.texto-beneficios p {
    font-size: 20px;
    color:#4B5563;
    line-height: 1.6;
    max-width: 700px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    padding: 0 20px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    text-align: left;
}

.card:hover{
    transform: translateY(-10px);
}

.card h3 {
    font-family: sans-serif;
    color: #0f1925;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.card p {
    font-size: 1rem;
    color: #4B5563;
    line-height: 1.5;
}

.beneficios-container .button {
    margin-top: 30px;
}

/* Esportes */

#esportes{
    background-color: #0f1925;
    width: 100%;
    min-height: 100vh;
    padding: 80px 50px;
    color: white;
}

.cards-esportes-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#esportes h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

.card-esporte{
    width: 320px;
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.08);
    padding: 30px;
    border-radius: 20px;
}

.card-esporte h2{
    font-size: 2rem;
    margin-bottom: 15px;
}

.card-esporte p {
    color: #F3F4F6;
    margin-bottom: 20px;
}

.card-esporte ul {
    margin-bottom: 20px;
}

.card-esporte li{
    margin-bottom: 8px;

}

.card-esporte span{
    color: #3B82F6;
    margin-bottom: 20px;
    font-style: italic;
}



/* button */
.button {
    background-color: #1E40AF;
    padding: 10px 30px;
    border-radius: 12px;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.button a {
    color: white;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgba(243, 243, 243, 0.2);
}



