* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
}

#header .container {
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 20px;
    padding: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: #0f1925;
    position: fixed;
    gap: 70px;
    border-bottom: 3px solid #1E40AF;
    z-index: 1000;
    
}

footer {
    display: flex;
    color: white;
    width: 100%;
    height: 20px;
    padding: 30px;
    justify-content: space-around;  
    align-items: center;
    background-color: #0f1925;
    border-top: 3px solid #1E40AF;
    z-index: 1000;
}


.logo {
    color: transparent;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 26px;
    background: linear-gradient(to right, #F3F4F6, #3B82F6);
    background-clip: text;
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: #F3F4F6;
    text-decoration: none;
    font-size: 20px ;
}

.profile a{
    color: #F3F4F6;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}



/* BANNER */ 

.banner-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}   

.carrossel-fita {
   display: flex;
   width: 400%;
   height: 100%;
   transition: transform 1.2s ease-in-out; 
}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.banner-container button{
    background-color: #1E40AF;
    color: white;
}

.img1 {
    background-image: linear-gradient(rgba(0,0,0,0.7)), 
    url('../assets/img1.jpg');
}
.img2 {
    background-image: linear-gradient(rgba(0,0,0,0.7)), 
    url('../assets/img2.jpg');
}
.img3 { 
    background-image: linear-gradient(rgba(0,0,0,0.7)), 
    url('../assets/img3.jpg');
}
.img4 {
    background-image: linear-gradient(rgba(0,0,0,0.7)), 
    url('../assets/img4.jpg');
}



.texto-banner {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    width: 80%;
}

.texto-banner h1 {
    font-family: clamp(32px, 5vw, 54px);
    color: #F3F4F6;
    font-size: 4rem;
    font-weight: 900;

}

.texto-banner p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #60A5FA;
    font-size: 2rem;
    font-weight: 500;
}

.banner-button {
    margin-top: 100px;
    z-index: 20;
    color: white;
}

/* Objetivo */

#sobre{
    width: 100%;
    min-height: 100vh;
}

.sobre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 60px;
    min-height: 100vh;
    background-color: #0f1925;

}

.texto-sobre {
    text-align: left;
    max-width: 750px;
    color: white;
    margin-right: auto;
}

.texto-sobre h1{
    font-family: clamp(32px, 5vw, 54px);
    font-size: 4.5rem;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 30px;
}

.texto-sobre p{
    font-size: 30px;
    line-height: 1.4;
    color: #F3F4F6;
    margin-bottom: 34px;
}

.texto-sobre span{
   color: transparent;
    font-family: sans-serif;
    font-weight: bold;
    background: linear-gradient(to right, #F3F4F6, #3B82F6);
    background-clip: text;
    text-decoration: none;
}

.texto-sobre .button{
    padding: 18px 50px;
    font-size: 700;
}


/* Beneficios */

.beneficios-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F3F4F6;
    width: 100%;
    min-height: 100vh;
    padding: 80px 20px;

}

.texto-beneficios {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.texto-beneficios h1 {
    font-family: clamp(32px, 5vw, 54px);
    font-size: 3rem;
    color:#0f1925;
    margin-bottom: 15px;
    font-weight: 800;
}

.texto-beneficios p {
    font-size: 20px;
    color:#4B5563;
    line-height: 1.6;
    max-width: 700px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    padding: 0 20px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    text-align: left;
}

.card:hover{
    transform: translateY(-10px);
}

.card h3 {
    font-family: sans-serif;
    color: #0f1925;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.card p {
    font-size: 1rem;
    color: #4B5563;
    line-height: 1.5;
}

.beneficios-container .button {
    margin-top: 30px;
    padding: 18px 50px;
    font-size: 700;
}

/* Esportes */

#esportes{
    background-color: #0f1925;
    width: 100%;
    min-height: 100vh;
    padding: 80px 50px;
    color: white;
}

.cards-esportes-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#esportes h1{
    font-family: clamp(32px, 5vw, 54px);
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

.card-esporte{
    margin-top: 70px;
    width: 320px;
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.08);
    padding: 30px;
    border-radius: 20px;
}

.card-esporte h2{
    font-family: sans-serif;
    font-size: 2rem;
    margin-bottom: 15px;
}

.card-esporte p {
    font-size: 18px;
    color: #F3F4F6;
    margin-bottom: 20px;
}

.card-esporte ul {
    font-size: 18px;
    margin-bottom: 20px;
}

.card-esporte li{
    font-size: 18px;
    margin-bottom: 8px;

}

.card-esporte span{
    font-size: 18px;
    color: #3B82F6;
    margin-bottom: 20px;
}

.cards-esportes-container .button {
    margin-top: 40px;
    padding: 18px 50px;
    font-size: 700;
}

/* Sobre mim */

#sobre-mim{
    background:#0f1925;
    min-height: 100vh;
    padding: 80px 50px;
    color: #F3F4F6;
}

.sobre-mim-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.texto-sobre-mim{
    max-width: 650px;
}

.texto-sobre-mim h1{
   font-size: clamp(45px, 7vw, 90px);
    margin-bottom: 25px;
    color: #60A5FA;
}

.texto-sobre-mim p {
    font-size: clamp(25px, 4vw, 10px);
    line-height: 1.2;
    color: #F3F4F6;
}

.foto-sobre-mim img{
    margin-left: 40px;
    width: 400px;
    height: 60%;
    object-fit: cover;
    border-radius: 20%;
    border: 4px solid #1E40AF;
    box-shadow: 0 0 25px rgba(59,130,246,0.30);
}





/* button */
.button {
    background-color: #1E40AF;
    padding: 10px 30px;
    border-radius: 12px;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    text-decoration: none;
}


.button:hover {
    transform: scale(1.07);
    box-shadow: 0 5px 15px rgba(243, 243, 243, 0.2);
}


/* cadastro e login */

#cadastro{
    margin: 0;
    padding: 0;
}

.cadastro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background:#0f1925;
    min-height: 100vh;
    width: 100%;
}

.card-login{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    width: 50%;
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.08);
    padding: 30px;
    border-radius: 10px;
    color: #F3F4F6;
}

.card-login h1 {
    font-size: 50px;
    margin-bottom: 70px;
}

.campo {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
}

.campo span{
    margin-bottom: 5px;
    font-size: 30px;
}

.campo input{
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;
    background: #0f1925;
    color: white;
    border: 1px solid #4B5563;
}

.card-login button {
    margin-top: 30px;
}

.card-login p {
    margin-top: 10px;
    font-size: 25px;
}

.card-login a {
    text-decoration: none;
    color: #3B82F6;
}

/* quiz */

#quiz{
    display: flex;
    min-height: 100vh;
    width: 100%;
    background: #0f1925;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    background: #0f1925;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(255,255,255,0.08);
    color: white;
    gap: 20px;
}

.quiz-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

.quiz-container h2{
    margin-bottom: 20px;
    font-size: 28px;
}


.quiz-container button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    background: #1E40AF;
    color: white;
    transition: 0.3s;
    border: none;
    margin-bottom: 10px;
}

.quiz-container button:hover{
    background: #1E40AF;
     transform:scale(1.02);
}




/* informativo */

#informativo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 90vh;
    background: #0f1925;
    padding: 80px;
}


.banner-informativo{
    width: 100%;
}

.texto-informativo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    color: white;
    text-align: center;
    margin: 0 auto;

}

.texto-informativo h1{
    font-family: clamp(32px, 5vw, 54px);
    font-size: 70px;
    line-height: 1;
    margin-bottom: 30px;
}

.texto-informativo span{
    color: #60A5FA
}

.texto-informativo p {
    font-size: 28px;
    line-height: 1.4;
    color: white;
    margin-bottom: 40px;
}

.mini-texto {
    color: #60A5FA;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
    border-radius: 70px;
    padding: 10px 20px;
    background: rgba(59,130,246,0.12);
    border: 1px solid rgba(96,165,250,0.25);
    width: 250px;
}

.texto-informativo button {
    padding: 12px 50px;
    font-size: 700;
}

#referencias {
    width: 100%;
    min-height: 100ch;
    background-color: #0f1925;
    padding: 120px 80px;
}

.referencias-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.card-referencias{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 40px;
    background: rgba(255,255,255,0.05);
    border-radius: 24px;
    transition: 0.3s;
}

.card-referencias:hover {
    transform: scale(1.02);
    background: rgba(255,255,255,0.08);
    box-shadow: 0 0 30px rgba(96,165,250,0.15);
}

.futebol .card-referencias {
     border: 1px solid rgba(4, 249, 4, 0.818);
}

.futebol .card-referencias h1 {
    color: rgba(4, 249, 4, 0.818);
}

.basquete .card-referencias {
    border: 1px solid rgb(255, 119, 0);
}

.basquete .card-referencias h1 {
    color: rgba(255, 119, 0);
}

.natacao .card-referencias {
    border: 1px solid #60A5FA;
}

.natacao .card-referencias h1 {
    color:#60A5FA;
}

.corrida .card-referencias {
    border: 1px solid rgba(255, 0, 0, 0.881);
}

.corrida .card-referencias h1 {
    color: rgba(255, 0, 0, 0.881);
}

.img-jogador{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.img-jogador img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.4s;
}

.card-referencias:hover img {
    transform: scale(1.08);
}

.texto-referencias{
    max-width: 700px;
    color: white;
}

.texto-referencias h1 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #60A5FA;
}

.texto-referencias span {
    color: #9CA3AF;
    font-size: 18px;
}

.texto-referencias h3 {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.texto-referencias p {
    font-size: 22px;
    line-height: 1.5;
    color: #F3F4F6;
}


.referencias-container button{
    padding: 12px 40px;
    font-size: 700; 
    width: fit-content;
    align-self: center;
}


/* modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    justify-content: center;
    padding: 30px;
    align-items: center;
    z-index: 99999;
}

.modal-container {
    width: 90%;
    max-width: 1000px;
    height: 90vh;
    overflow-y: auto;
    background: #0f1925;
    border-radius: 24px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
    position: relative;
}

.img-modal {
    width: 100%;
    overflow: hidden;
}

.img-modal img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 24px;

}

.modal-info {
    padding: 40px;
    color: white;
}

.tag-esporte {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tag-esporte.futebol {
    background: #22c55e;
}
.tag-esporte.basquete {
    background: rgba(255, 119, 0);
}

.tag-esporte.natacao {
    background: #3B82F6;
}

.tag-esporte.corrida {
    background: rgba(255, 0, 0, 0.881);
}

.modal-info h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.button-favoritar {
    border: none;
    background:  rgba(255,255,255,0.12);
    color: white;
    padding: 14px 18px;
    border-radius: 12px;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 25px;
}

.button-favoritar:hover {
    transform: scale(1.05);
    background: #0f1925;
}

.titulo {
    font-size: 28px;
    margin-bottom: 25px;
}

.historia-atleta {
    margin-top: 35px;
    margin-bottom: 15px;
}

.historia-atleta h3 {
    font-size: 43px;
    margin-bottom: 15px;
    color: white;
}

.historia-atleta p {
    font-size: 24px;
    line-height: 1.5;
    color: #F3F4F6;
}

.fechar {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    border-radius: 70px;
    background:  rgba(255,255,255,0.12);
    cursor: pointer;
    transition: 0.3s;
}

.fechar:hover {
    background: #0f1925;
}

/* dash */

.dashboard {
    padding: 40px 80px;
    background: #0f1925;
    width: 100%;
    
}


.titulo-dashboard {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.titulo-dashboard h1 {
    font-size: 58px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1E40AF;
}

.titulo-dashboard p {
    font-size: 22px;
    color: #94A3B8;
}

.kpi-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 50px;
}

.kpi-card {
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(59,130,246,0.2);
    border-radius: 25px;
    padding: 30px;
    transition: .3s;
}

.kpi-card:hover {
    transform: translateY(-5px);
}

.kpi-card h3 {
    font-size: 18px;
    color: #94A3B8;
    margin-bottom: 15px;
}

.kpi-card span {
    font-size: 42px;
    font-weight: bold;
    color: white;
}

.graficos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.grafico-card {
    background: rgba(255,255,255,0.05);;
    border: 1px solid rgba(59,130,246,0.2);
    border-radius: 25px;
    padding: 30px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grafico-card h2 {
    margin-bottom: 25px;
    font-size: 28px;
    color: #ffffff;
}

canvas {
    width: 80% !important;
    height: 90% !important;
}